body {
  position: absolute;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0%;
  left: 0%;
  font-family: 'Quicksand', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
}

button,
input[type="submit"],
input[type="reset"] {
  border: none;
  border-radius: 23px;
  padding: 10px;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  outline: inherit;
  width: 10%;
}

button:focus {
  outline: none;
  /* box-shadow: 0 0 0 0.2rem rgba(183, 174, 181, 0.5); */
}

button:active {
  outline: none;
  border: none;
}

#startBtn{
  background: #877B85;
  color: #F9F9F9;
}

#pauseBtn{
background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 28.3 49.3'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-3%7Bfill:none;%7D.cls-2%7Bclip-path:url(%23clip-path);%7D.cls-3%7Bstroke:%23887b86;stroke-linecap:round;stroke-linejoin:round;stroke-width:7.3px;%7D%3C/style%3E%3CclipPath id='clip-path' transform='translate(-411.29 -400.56)'%3E%3Crect class='cls-1' x='411.29' y='400.56' width='28.3' height='49.3'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg class='cls-2'%3E%3Cline class='cls-3' x1='3.65' y1='24.65' x2='24.65' y2='3.65'/%3E%3Cline class='cls-3' x1='3.65' y1='24.65' x2='24.65' y2='45.65'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-color: #f9f9f8;
  color: none;
  border: none;
  height: auto;
  padding: 12px;
}

#partitaBtn{
    height: auto;
    padding: 15px;
    background-color: inherit;
    border-color: #887b86;
    border-style: solid;
    color: inherit;
    display: none;
}

.pausa{
  width: 10px;
  height: 30px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  background-repeat: no-repeat;
  background-image: url(" ./assets/freccia.png");
}


/* The container for chackbox privacy */
#container{
  position:absolute;
  width:35%;
  height:auto;
  left:40%;
  top:75%;
  margin:0;
  z-index:1;
  display: none;
  justify-content:left;
  align-items: center;
  }

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  text-align:left;
  color: #877B85;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position:relative;
  opacity: 0;
  cursor: pointer;
  width: 50%;
  height: 50%;
}

/* form code  */
#forum{
  position:absolute;
  width:60%;
  height:auto;
  left:41%;
  top:50%;
  margin:0;
  z-index:1;
  display: none;
  justify-content:left;
  align-items: center;
  }

  input[type=text],
  input[type="submit"],
  input[type="reset"] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color:#D5D0D3;
    color: #F9F9F9;
    border-radius: 23px;
    font-weight: regular;
    font-family: 'Quicksand', sans-serif;
  }

#forum:focus {
    outline: none;
    /* box-shadow: 0 0 0 0.2rem rgba(183, 174, 181, 0.5); */
  }

#forum:active {
    outline: none;
    border: none;
  }

/* PER PUNTO DI DOMANDA CODICE PARTITA */
#schermo{
    position: fixed;
    width:100%;
    height:150px !important;
    top:60%;
    margin:0;
    z-index:1;
    display: none;
    justify-content:center;
    align-items: center;
}
#imm{
padding-left: 49.5%;
  width: 16.6px;
  height: 17.3px;
}

/* .overlay {
  background-color: #D5D0D3;
  position: sticky;
  padding-left: 36%;
  height: 0;
  width: 30%;
}

.overlay:hover {
  opacity: 1;
  cursor: pointer;
} */
.text {
  color: #b7aeb5 ;
  font-size: 12px;
  position:flex;
  padding-top: 20px;
  text-align: center;
  font-family: inherit;

}
